@model BethanysPieShop.ViewModels.HomeViewModel



<h2 class="col-md-12">@Model.Title</h2>
@foreach (var pie in Model.Pies)
{ 
        <div class="row">
            <div class="col">
                <div class="img-thumbnail">
                    <img src="@pie.ImageThumbnailUrl">
                    <figcaption>
                        <h3 class="text-right">@pie.Price.ToString("c")</h3>
                        <h3>@pie.Name</h3>
                        <p>@pie.ShortDescription</p>
                    </figcaption>
                </div>
            </div>
        </div>   
}
