@model HomeViewModel



<h2 class="col-md-12">@Model.Title</h2>
@foreach (var pie in Model.Pies)
{ 
        <div class="row">
            <div class="col">
                <div class="img-thumbnail">
                    <img src="@pie.ImageThumbnailUrl">
                    <figcaption>
                        <h3 class="text-right">@pie.Price.ToString("c")</h3>
                        <h3>
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@pie.Id">@pie.Name</a>
                         </h3>
                        <p>@pie.ShortDescription</p>
                    </figcaption>
                </div>
            </div>
        </div>   
}
